{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div class="container">

  <div class="row justify-content-center mt-3">
    <div class="col-md-8">
      <div class="card bg-beige text-purple mb-3">
        <div class="card-body text-center">
                <h4 class="h2">Search Results Displayed for Users</h4>
        </div>
      </div>
    </div>
  </div>


    <div class="card bg-beige text-purple mb-3">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
          <div class="row flex-fill">
            <div class="col-sm-5">
              <h4 class="h5">Johnny</h4>
              <span class="badge bg-dark">@userjohnny</span> <span class="badge bg-dark">20 Achievements</span>
            </div>
            <div class="col-sm-4 py-2">
            </div>
            <div class="col-sm-3 text-lg-end">
              <a href="#" class="btn btn-dark stretched-link">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-beige text-purple mb-3">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
          <div class="row flex-fill">
            <div class="col-sm-5">
              <h4 class="h5">Eddy</h4>
              <span class="badge bg-dark">@usereddy</span> <span class="badge bg-dark">15 Achievements</span>
            </div>
            <div class="col-sm-4 py-2">
            </div>
            <div class="col-sm-3 text-lg-end">
              <a href="#" class="btn btn-dark stretched-link">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-beige text-purple mb-3">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
          <div class="row flex-fill">
            <div class="col-sm-5">
              <h4 class="h5">Susan</h4>
              <span class="badge bg-dark">@usersusan</span> <span class="badge bg-dark">500 Achievements</span>
            </div>
            <div class="col-sm-4 py-2">
            </div>
            <div class="col-sm-3 text-lg-end">
              <a href="#" class="btn btn-dark stretched-link">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}